<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HallaGulla</title>
</head>
<body>
    <h1>FWI Prediction!</h1>
    <form action="{{url_for('predict_datapoint')}}" method="post">
        <!-- url_for is used to tell which function we're actually Calling -->
        <input type="text" name="Temperature" required="required" placeholder="Temperature" /><br>
        <input type="text" name="RH" required="required" placeholder="RH"/><br>
        <input type="text" name="Ws" required="required" placeholder="Ws"/><br>
        <input type="text" name="Rain" required="required" placeholder="Rain" /><br>
        <input type="text" name="FFMC" required="required" placeholder="FFMC" /><br>
        <input type="text" name="DMC" required="required" placeholder="DMC"/><br>
        <input type="text" name="ISI" required="required" placeholder="ISI"/><br>
        <input type="text" name="Classes" required="required" placeholder="Classes"/><br>
        <input type="text" name="Region" required="required" placeholder="Region"/><br>

        <button type="submit" class="btn btn-primary btn block btn-large">Predict</button>
    </form>
    <h2>
        THE FWI PREDICTION IS {{results}}
    </h2>
</body>
</html>